# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files

*.VC.*

# Versioned lib files

*.1*
*.1*.*
*.2*
*.2*.*
*.3*
*.3*.*

# Directories/Folders
Debug/
Release/
Obj/
Save/
bin/
Bin/
build/
Build/
Build-QNX/
Build-Linux/
Build-Windows/
